/* App-level layout */

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  color: #333;
  background: #f5f5f5;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
